.background {
    -fx-background-image: url("../Assets/gameBackground.png");
     -fx-background-repeat: stretch;
     -fx-background-size: 1280 720;
     -fx-background-position: center center;
}
.playerLabels {
     -fx-background-image: url("../Assets/playerIndicators.png");
      -fx-background-repeat: stretch;
      -fx-background-size: 1280 720;
      -fx-background-position: center center;
 }

.stageCards {
      -fx-background-image: url("../Assets/stageBanner.png");
       -fx-background-repeat: no-repeat;
       -fx-background-size: 300 400;
       -fx-background-position: center center;
}

.activeCardBorder {
    -fx-background-image: url("../Assets/activeCardBorder.png");
     -fx-background-repeat: no-repeat;
     -fx-background-size: 170 250;
     -fx-background-position: center center;
     -fx-translate-y: 10;
}

.storyDeckBorder {
    -fx-background-image: url("../Assets/storyCardBorder.png");
     -fx-background-repeat: stretch;
     -fx-background-size: 170 250;
     -fx-background-position: center center;
     -fx-translate-y: 70;
}


.playerIndicators {
    -fx-background-image: url("../Assets/defaultPlayerIndicator.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 214 446;
    -fx-background-position: center center;
}


.middleArea {
    -fx-background-image: url("../Assets/middleArea.png");
     -fx-background-repeat: no-repeat;
     -fx-background-size: 900 447;
     -fx-background-position: center top;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.nextTurnButton{

    -fx-background-image: url("../Assets/nextTurn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 192 48;
    -fx-background-position: center center;
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}


.continueButton{

    -fx-background-image: url("../Assets/continueButton.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 192 48;
    -fx-background-position: center center;
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}

.hboxHand{

    -fx-background-image: url("../Assets/handArea.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1280 108;
    -fx-background-position: top center;

}
.hboxTable{

    -fx-background-image: url("../Assets/handArea.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 108;
    -fx-background-position: bottom center;

}

.eventStage{
    -fx-background-image: url("../Assets/stageBanner.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-color: white;
}

.null{


}

.image-view-hand{
    -fx-padding:0 50 0 50;
    -fx-translate-y: 20;
}

.image-view-hand:hover{
    -fx-cursor: hand;
    -fx-translate-y: 10;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
